a{
    text-decoration: none;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

figure{
    margin: 0 !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: rgba(219, 211, 211, 0.5);
    font-size: 100px !important;
    text-shadow: 4px 4px 5px rgba(0,0,0,0.5);
}
h2{
    color: rgba(6, 40, 231, 0.5);
    font-size: 95px !important;
}
h3{
    color: rgba(255, 0, 0, 0.5);
    font-size: 40px !important;
}

/* p{
    font-weight: 300;
    font-size: 20px !important;
} */

.content{
    text-align: center;
}

.cover{
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(../images/cover.jpg);
    display: flow-root;
    height: 100vh;
    justify-content:center;
}

.icon{
    animation: coolanim 1.5s ease-out infinite;
    color: royalblue;
    font-size: 80px !important;
}

.info{
    background-color: #141419;
    color: white;
    padding: 20px;
}

.info h2{
    font-size: 40px;
    margin: 0;
    text-align: center;
}

.infoContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.infoContent .block h3{
    font-size: 25px;
    margin: 5px 0 10px 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 300;
}

.infoContent .block{
    padding: 8px;
    width: 100%;
}

.infoContent .block .icon-social{
    font-size: 70px;
}

.btn{
    color: blanchedalmond; 
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #D4C31C;
    background-color:rgba(1, 227, 235, 0.884);
    color:black;
    margin: 10px 0;
    display: inline-block;
    transition: 0.3s;
}
.btn:hover{
    transform: scale(1.2);
    letter-spacing: 3px;
    color: white;
}
/* Animacion */
@keyframes coolanim {
    50% {
        transform: translate(0,10px);
    }
}

/* Media queries*/
@media all and (min-width: 769px){
    h1{
        font-size: 100px !important;
    }

    .infoContent .block{
        width: 30%;
    }
}